@import './utils/reset.scss';
@import './utils/breakpoints.scss';
@import './variables/mixins.scss';
@import './variables/config.scss';
@import './utils/base.scss';
@import './utils/utilities.scss';
@import './utils/animations.scss';

//Componentes externos a App.js
.global-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  //Componentes internos a App.js
  /* Globales */
  @import './components/ScrollSnap.scss';
  @import './components/Burger.scss';
  @import './components/LanguageSelector.scss';
  @import './components/ColorSelector.scss';

  /* Home */

  //------Containers------//
  /* Home containers */

  //Layout
  @import './layout/Footer.scss';
  @import './layout/Header.scss';

  //Pages
  @import './pages/Home.scss';
}
