.header {
  height: $header-height-mobile;
  background-color: var(--color-background);
  border-bottom: solid 2px var(--color-tertiary);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  nav {
    height: 100%;

    ul {
      display: flex;
      height: 100%;

      .list-item {
        flex: 1;
        padding: 0 $space_half;
        display: grid;
        place-items: center;

        .nav-link {
          text-decoration: none;
          position: relative;
          display: flex;
          flex-direction: column;
          font-size: 1rem;

          span {
            width: 0;
            height: 1px;
            margin-top: 2px;
            background-color: var(--color-secondary);
            transition: width 600ms ease-in-out;
          }
          span:nth-child(1) {
            position: absolute;
            left: -7%;
            bottom: 0;
            position: relative;

            &::before {
              content: '';
              position: absolute;
              z-index: 2;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
              width: 0;
              height: 0;
              border-radius: 50%;
              background-color: var(--color-tertiary);
            }
          }
          span:nth-child(2) {
            position: absolute;
            right: -7%;
            bottom: 0;
          }

          &.active {
            span {
              width: 114%;
            }

            span:nth-child(1):before {
              animation: morph 600ms linear forwards;
            }

            @keyframes morph {
              25% {
                width: 6px;
                height: 6px;
              }

              50% {
                width: 6px;
                height: 6px;
              }
              100% {
                height: 0;
                height: 0;
              }
            }
          }
        }
        &.configs {
          //   border: solid 1px red;
        }
        .config-btn {
          cursor: pointer;
          color: var(--color-text);
          background-color: transparent;
          padding: 0.6rem;
        }
      }
    }
  }

  @include media(desktop-m) {
    nav {
      ul {
        .list-item {
          .nav-link {
            font-size: 1.6rem;
            transition: 200ms ease-in-out;

            &:hover:not(.active) {
              letter-spacing: 1px;
            }

            &:focus-visible:not(.active) {
              outline: none;
              letter-spacing: 1px;
              border-bottom: solid 2px var(--color-tertiary);
            }
            span {
              margin-top: 4px;
              height: 2px;
            }
            &.active {
              letter-spacing: 1px;

              &:focus-visible {
                outline: none;
              }
            }

            @keyframes morph {
              25% {
                width: 6px;
                height: 6px;
              }

              50% {
                width: 8px;
                height: 8px;
              }
              100% {
                height: 0;
                height: 0;
              }
            }
          }

          .config-btn {
            transition: 50ms ease-in-out;
            &:hover {
              color: var(--color-stroke);
              background-color: var(--color-secondary);
              border-radius: 4px;
            }
            &:active {
              padding: 0.8rem;
            }
          }
        }
      }
    }
  }
}
