.color-selector {
  display: flex;
  flex-direction: column;
  width: 100%;

  padding-bottom: $space_half;
  border-bottom: solid 2px var(--palette_90);

  &__title {
    margin-bottom: 15px;
    font-weight: 600;
    color: var(--palette_20);
  }

  &__options {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .radio-label {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 1rem;
      color: var(--palette_20);
      cursor: pointer;

      input[type='radio'] {
        /* prefixer, por si acaso */
        -webkit-appearance: none;
        appearance: none;
        /* For iOS < 15 to remove gradient background */
        background-color: var(--palette_80);
        /* Not removed via appearance */
        margin: 0;
        margin-bottom: $space_half;

        font: inherit;
        color: currentColor;
        width: 22px;
        height: 22px;
        border: 2px solid currentColor;
        border-radius: 50%;
        transform: translateY(0.075em);
        background-color: var(--palette_20);
        box-shadow: inset 0 0 0 10px var(--palette_80);
        transition: box-shadow 100ms ease-in-out;
        cursor: pointer;

        &:checked {
          box-shadow: inset 0 0 0 3px var(--palette_80);
        }
      }
    }
  }

  @include media(tablet) {
    padding-bottom: 15px;
    &__options {
      .radio-label {
        flex-direction: row;

        input[type='radio'] {
          margin-right: 0.5rem;
        }
      }
    }
  }
  @include media(desktop-s) {
    padding-bottom: $space_x2;
    &__options {
      width: 60%;
    }
  }
  @include media(desktop-m) {
    width: 50%;
    border-bottom: none;
    padding: 0;
  }
}
