//Archivo para importar colores dentro de los componentes directamente y no harcodearlos
@import './config.scss';

:export {
    colorClaro: $color-claro;
    colorOscuro: $color-oscuro;
    colorGray:  $color-gray;
    colorGrayDark:  $color-gray-dark;
    colorPrimario: $color-primario;
    colorPrimarioDark: $color-primario-dark;
    colorSecundario: $color-secundario;
    colorVarianteUno: $color-variante-uno;
    colorVarianteDos:  $color-variante-dos ;
    headerTopHeight: $header-top-height;
}