.animate {
  position: relative;
  z-index: 1;
  opacity: 0;
}

.animate.slide-up.in-view {
  animation: slide-up 750ms forwards ease-in-out;
}
@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate.slide-title.in-view {
  animation: slide-title 450ms forwards ease-in-out;
}
@keyframes slide-title {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
