::selection {
  background-color: var(--color-secondary);
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--color-secondary);
}
::-webkit-scrollbar-thumb {
  background: var(--color-tertiary);
}

:root {
  --main-font-size: 16px;
}

@include media(tablet) {
  :root {
    --main-font-size: 18px;
  }
}
@include media(desktop-s) {
  :root {
    --main-font-size: 18px;
  }
}
@include media(desktop-m) {
  :root {
    --main-font-size: 14px;
  }
}
@include media(desktop-l) {
  :root {
    --main-font-size: 16px;
  }
}
@include media(desktop-xxl) {
  :root {
    --main-font-size: 18x;
  }
}
@include media(desktop-xxxl) {
  :root {
    --main-font-size: 20px;
  }
}
html,
body {
  overflow-x: hidden;
  font-family: $Fuente1;
  font-size: var(--main-font-size);
  scroll-behavior: smooth;
  color: var(--color-text);
  background-color: var(--color-background);
  //Solo para Firefox, soporta solo estas propiedas solamente para modificar la barra de scroll
  scrollbar-color: var(--color-tertiary) var(--color-secondary); /* thumb and track color */
  transition: background-color 150ms ease-in-out;

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }
}
body {
  overflow: hidden;
}
