$palette-100: #012a4a;
$palette-90: #013a63;
$palette-80: #01497c;
$palette-70: #014f86;
$palette-60: #2a6f97;
$palette-50: #2c7da0;
$palette-40: #468faf;
$palette-30: #61a5c2;
$palette-20: #89c2d9;
$palette-10: #a9d6e5;

$color-dark-100: rgb(30, 30, 30);
$color-dark-90: rgb(40, 40, 40);
$color-dark-80: rgb(50, 50, 50);
$color-dark-80: rgb(60, 60, 60);
$color-dark-70: rgb(70, 70, 70);
$color-dark-60: rgb(80, 80, 80);
$color-dark-50: rgb(90, 90, 90);
$color-dark-40: rgb(100, 100, 100);
$color-dark-30: rgb(110, 110, 110);
$color-dark-20: rgb(120, 120, 120);
$color-dark-10: rgb(130, 130, 130);

$color-light-10: rgb(150, 150, 150);
$color-light-20: rgb(160, 160, 160);
$color-light-30: rgb(170, 170, 170);
$color-light-40: rgb(180, 180, 180);
$color-light-50: rgb(190, 190, 190);
$color-light-60: rgb(200, 200, 200);
$color-light-70: rgb(210, 210, 210);
$color-light-80: rgb(220, 220, 220);
$color-light-90: rgb(230, 230, 230);
$color-light-100: rgb(240, 240, 240);
