/* Esta es la clase que se aplica a cada contenedor de cada pagina ( /pages )  */
.page-container {
  flex: 1 0 auto;
}

//*****************************//
//******** PADDINGS **********//
//****************************//
$PADDINGS: 15;
@for $i from 0 through $PADDINGS {
  //ALL
  .p-#{$i} {
    padding: $i + rem;
  }
  //LEFT & RIGHT
  .px-#{$i} {
    padding-left: $i + rem;
    padding-right: $i + rem;
  }
  //TOP & BOTTOM
  .py-#{$i} {
    padding-top: $i + rem;
    padding-bottom: $i + rem;
  }
  //TOP, RIGHT, BOTTOM, LEFT
  .pt-#{$i} {
    padding-top: $i + rem;
  }
  .pr-#{$i} {
    padding-right: $i + rem;
  }
  .pb-#{$i} {
    padding-bottom: $i + rem;
  }
  .pl-#{$i} {
    padding-left: $i + rem;
  }
  @media (min-width: 768px) {
    //ALL
    .p-sm-#{$i} {
      padding: $i + rem;
    }
    //LEFT & RIGHT
    .px-sm-#{$i} {
      padding-left: $i + rem;
      padding-right: $i + rem;
    }
    //TOP & BOTTOM
    .py-sm-#{$i} {
      padding-top: $i + rem;
      padding-bottom: $i + rem;
    }
    //TOP, RIGHT, BOTTOM, LEFT
    .pt-sm-#{$i} {
      padding-top: $i + rem;
    }
    .pr-sm-#{$i} {
      padding-right: $i + rem;
    }
    .pb-sm-#{$i} {
      padding-bottom: $i + rem;
    }
    .pl-sm-#{$i} {
      padding-left: $i + rem;
    }
  }
  @media (min-width: 992px) {
    //ALL
    .p-md-#{$i} {
      padding: $i + rem;
    }
    //LEFT & RIGHT
    .px-md-#{$i} {
      padding-left: $i + rem;
      padding-right: $i + rem;
    }
    //TOP & BOTTOM
    .py-md-#{$i} {
      padding-top: $i + rem;
      padding-bottom: $i + rem;
    }
    //TOP, RIGHT, BOTTOM, LEFT
    .pt-md-#{$i} {
      padding-top: $i + rem;
    }
    .pr-md-#{$i} {
      padding-right: $i + rem;
    }
    .pb-md-#{$i} {
      padding-bottom: $i + rem;
    }
    .pl-md-#{$i} {
      padding-left: $i + rem;
    }
  }
  @media (min-width: 1200px) {
    //ALL
    .p-lg-#{$i} {
      padding: $i + rem;
    }
    //LEFT & RIGHT
    .px-lg-#{$i} {
      padding-left: $i + rem;
      padding-right: $i + rem;
    }
    //TOP & BOTTOM
    .py-lg-#{$i} {
      padding-top: $i + rem;
      padding-bottom: $i + rem;
    }
    //TOP, RIGHT, BOTTOM, LEFT
    .pt-lg-#{$i} {
      padding-top: $i + rem;
    }
    .pr-lg-#{$i} {
      padding-right: $i + rem;
    }
    .pb-lg-#{$i} {
      padding-bottom: $i + rem;
    }
    .pl-lg-#{$i} {
      padding-left: $i + rem;
    }
  }
}

//*****************************//
//******** MARGINS **********//
//****************************//
$MARGINS: 15;
@for $i from 0 through $MARGINS {
  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  .my-auto {
    margin-top: auto;
    margin-bottom: auto;
  }
  //ALL
  .m-#{$i} {
    margin: $i + rem;
  }
  //LEFT & RIGHT
  .mx-#{$i} {
    margin-left: $i + rem;
    margin-right: $i + rem;
  }
  //TOm & BOTTOM
  .my-#{$i} {
    margin-top: $i + rem;
    margin-bottom: $i + rem;
  }
  //TOm, RIGHT, BOTTOM, LEFT
  .mt-#{$i} {
    margin-top: $i + rem;
  }
  .mr-#{$i} {
    margin-right: $i + rem;
  }
  .mb-#{$i} {
    margin-bottom: $i + rem;
  }
  .ml-#{$i} {
    margin-left: $i + rem;
  }
  @media (min-width: 768px) {
    .mx-sm-auto {
      margin-left: auto;
      margin-right: auto;
    }
    .my-sm-auto {
      margin-top: auto;
      margin-bottom: auto;
    }
    //ALL
    .m-sm-#{$i} {
      margin: $i + rem;
    }
    //LEFT & RIGHT
    .mx-sm-#{$i} {
      margin-left: $i + rem;
      margin-right: $i + rem;
    }
    //TOm & BOTTOM
    .my-sm-#{$i} {
      margin-top: $i + rem;
      margin-bottom: $i + rem;
    }
    //TOm, RIGHT, BOTTOM, LEFT
    .mt-sm-#{$i} {
      margin-top: $i + rem;
    }
    .mr-sm-#{$i} {
      margin-right: $i + rem;
    }
    .mb-sm-#{$i} {
      margin-bottom: $i + rem;
    }
    .ml-sm-#{$i} {
      margin-left: $i + rem;
    }
  }
  @media (min-width: 992px) {
    .mx-md-auto {
      margin-left: auto;
      margin-right: auto;
    }
    .my-md-auto {
      margin-top: auto;
      margin-bottom: auto;
    }
    //ALL
    .m-md-#{$i} {
      margin: $i + rem;
    }
    //LEFT & RIGHT
    .mx-md-#{$i} {
      margin-left: $i + rem;
      margin-right: $i + rem;
    }
    //TOm & BOTTOM
    .my-md-#{$i} {
      margin-top: $i + rem;
      margin-bottom: $i + rem;
    }
    //TOm, RIGHT, BOTTOM, LEFT
    .mt-md-#{$i} {
      margin-top: $i + rem;
    }
    .mr-md-#{$i} {
      margin-right: $i + rem;
    }
    .mb-md-#{$i} {
      margin-bottom: $i + rem;
    }
    .ml-md-#{$i} {
      margin-left: $i + rem;
    }
  }
  @media (min-width: 1200px) {
    .mx-lg-auto {
      margin-left: auto;
      margin-right: auto;
    }
    .my-lg-auto {
      margin-top: auto;
      margin-bottom: auto;
    }
    //ALL
    .m-lg-#{$i} {
      margin: $i + rem;
    }
    //LEFT & RIGHT
    .mx-lg-#{$i} {
      margin-left: $i + rem;
      margin-right: $i + rem;
    }
    //TOm & BOTTOM
    .my-lg-#{$i} {
      margin-top: $i + rem;
      margin-bottom: $i + rem;
    }
    //TOm, RIGHT, BOTTOM, LEFT
    .mt-lg-#{$i} {
      margin-top: $i + rem;
    }
    .mr-lg-#{$i} {
      margin-right: $i + rem;
    }
    .mb-lg-#{$i} {
      margin-bottom: $i + rem;
    }
    .ml-lg-#{$i} {
      margin-left: $i + rem;
    }
  }
}
